langchain 
langchain-core
openai
pinecone-client
transformers
langchain-openai
langsmith
langchain-community
langchain-experimental
langgraph
langserve[all]
langchain-cli
streamlit
scikit-learn
nltk
numpy
pandas
PyPDF2
python-docx