langchain 
langchain-core
openai
pinecone-client
transformers
langchain-openai
langsmith
openai
langchain-community
langchain-experimental
langgraph
langserve[all]
langchain-cli
streamlit
PyPDF2
python-docx
python-dotenv